@import 'colors';
@import 'layout';

@if $UIRefresh2022 {
  .hero-banner {
    background-color: $steel-blue;
    color: $white;
    display: flex;
    align-items: center;
    margin: 0 !important;
    padding: 40px 0;

    a {
      color: $white;
    }

    &__wrapper {
      margin: auto;
      width: 90%;

      @include layout-margin(1, $screen-small);
      @include layout-margin(1, $screen-medium);
      @include layout-margin(1, $screen-large);
      @include layout-margin(1, $screen-xlarge);
      @include layout-margin(1, $screen-xxlarge);
      @include layout-margin(1, $screen-xxxlarge);
    }

    &__logos {
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 25px;

      @include media-query-small {
        gap: 10px;
        img {
          max-width: 80px;
        }
      }

      @include media-query-medium {
        gap: 15px;
        img {
          max-width: 90px;
        }
      }
    }

    &__title-text {
      width: 100%;
      text-align: left;
      text-transform: none;
      letter-spacing: 0;
      cursor: pointer;
      text-align: center;
      margin-bottom: 1rem;
    }

    &__subtitle-text {
      font-weight: 630;
      width: 100%;
      text-transform: none;
      letter-spacing: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 1.75rem;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-align: center;
      margin-bottom: 2rem;

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.1rem;
      }

      @include media-query-medium {
        -webkit-line-clamp: 2;
      }
    }

    img {
      max-width: 175px;
      height: auto;
      padding: 10px;
      transition: all 0.2s ease-in-out;


      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
