@import 'colors';
@import 'layout';

@if $UIRefresh2022 {
  .intro-overview {
    color: $black;
    display: flex;
    align-items: center;
    margin: 0 !important;
    padding: 40px 0;

    h1 {
      text-transform: uppercase;
    }

    &__wrapper {
      margin: auto;
      display: flex;
      gap: 20px;
      width: 100%;
      flex-wrap: nowrap;

      @include layout-margin(1, $screen-small);
      @include layout-margin(1, $screen-medium);
      @include layout-margin(1, $screen-large);
      @include layout-margin(1, $screen-xlarge);
      @include layout-margin(1, $screen-xxlarge);
      @include layout-margin(1, $screen-xxxlarge);

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 0;

        &__content,
        &__images {
          width: 100%;
          flex: 0 0 100%;
        }

        &__images {
          margin-top: 20px;
        }
      }

      &__content {
        padding: 20px;
        background-color: $white;
        flex: 1 1 70%;
        min-width: 0;
        max-width: 70%;
      }

      &__images {
        flex: 0 0 30%;
        min-width: 0;
        max-width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // gap: 20px;
        background-color: $steel-blue;
        padding: 10px;

        &__title {
          color: $white;
          font-size: 1.25rem;
          font-weight: 600;
        }

        a {
          text-decoration: none;
          border: none;
        }

        a:nth-of-type(2) {
          margin: 30px 0;
        }

        img {
          max-width: 100%;
        }
      }

      &__overview {
        background-color: $white;
        padding: 20px;

        ul, ol {
          margin: 0 0 0 18px;
          padding: 0;
        }

        li {
          margin-bottom: 10px;
          line-height: 1.4;
        }

        &__quadrants-rings {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          &__quadrants {
            background-color: rgba($mist-lighter, 0.4);
          }

          &__rings {
            background-color: rgba($mist-lighter, 0.4);
          }

          &__quadrants,
          &__rings {
            flex: 1 1 0;
            margin: 20px 0;
            padding: 30px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
          }

          @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
          }
        }
      }
    }

    &__title-text {
      width: fit-content;
      text-align: left;
      text-transform: none;
      letter-spacing: 0;
      cursor: pointer;
    }

    &__subtitle-text {
      font-weight: 630;
      width: 50%;
      text-align: left;
      text-transform: none;
      letter-spacing: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 1.75rem;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;

      @include media-query-medium {
        width: 37.5%;
        -webkit-line-clamp: 2;
      }

      @include media-query-large {
        width: 25%;
      }

      @include media-query-xlarge {
        width: 33%;
      }
    }
  }
}
